/**
 * -----------------------------------------------------------------------------
 *   $BLOCKQUOTE
 * -----------------------------------------------------------------------------
 */

blockquote {
    font-style: italic;
    text-align: center;
}

cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
