/**
 * -----------------------------------------------------------------------------
 *   $MAIN
 * -----------------------------------------------------------------------------
 */

/**
 * 1. Default font size is now 10px.
 */
html {
    font-family: $font-family-default;
    font-size: 62.5%; /* 1 */
    height: 100%;
}

/**
 * 1. Sets the default font size back to 16px.
 */
body {
    @include rem(font-size, $font-size-base); /* 1 */
    height: 100%;
}
