/**
 * -----------------------------------------------------------------------------
 *   $BUTTONS
 * -----------------------------------------------------------------------------
 */

.btn {
    @include rem(padding, $base-spacing / 2 $base-spacing);
    @include rem(border-radius, $button-border-radius);
    @include rem(border-width, $button-border-width);

    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font-size: $button-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-white {
    border-color: white;
    color: white;
}

.btn-black {
    border-color: $color-black;
    color: $color-black;
}

.btn-filled-green-soft {
    background-color: $color-green-soft;
    border: 0;
    color: white;
}

.btn-barclays {
    border-color: $color-barclays;
    color: $color-barclays;
}

.btn-hasbro {
    border-color: $color-hasbro;
    color: $color-hasbro;
}

.btn-bmj {
    border-color: $color-bmj;
    color: $color-bmj;
}
