/**
 * -----------------------------------------------------------------------------
 *   $ICONS
 * -----------------------------------------------------------------------------
 */

/**
 * 1. if used as a link there shouldn't be any underline.
 */
.icon,
%icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: $icon-height;
    text-decoration: none; /* 1 */
    width: $icon-width;
}

%icon-dark {
    background-color: $icon-background-alt;
    border-radius: $icon-border-radius;
}

.icon-close {
    @extend %icon;

    background-image: url(#{$image-url}icon-close.png);
    background-size: 22px 22px;
}

.icon-facebook {
    @extend %icon;
    @extend %icon-dark;

    background-image: url(#{$image-url}icon-facebook.png);
    background-size: 13px 24px;
}

.icon-github {
    @extend %icon;
    @extend %icon-dark;

    background-image: url(#{$image-url}icon-github.png);
    background-size: 22px 21px;
}

.icon-linkedin {
    @extend %icon;
    @extend %icon-dark;

    background-image: url(#{$image-url}icon-linkedin.png);
    background-size: 20px 20px;
}

.icon-menu {
    @extend %icon;

    background-image: url(#{$image-url}icon-menu.png);
    background-size: 30px 22px;
}

.icon-twitter {
    @extend %icon;
    @extend %icon-dark;

    background-image: url(#{$image-url}icon-twitter.png);
    background-size: 21px 18px;
}
