/**
 * -----------------------------------------------------------------------------
 *   $SECTIONS
 * -----------------------------------------------------------------------------
 */

.section {
    @extend %align-vertical-container;
    display: block;
    width: 100%;
}

.section-content {
    @include rem(padding, $base-spacing * 2);
    box-sizing: border-box;
    width: 100%;
}

.section-fullscreen {
    height: 100%;
}

.section-blue {
    background-color: $color-blue;
    color: white;
}

.section-dark {
    background-color: $color-nav;
    color: white;
}

.section-grey {
    background: #e9e6d8;
    background: linear-gradient(to bottom,  #e9e6d8  0%,#dddddd  43%,#b7afa6  70%,#b7afa6  74%,#e4e6d9  100%);
}

.section-purple {
    background-color: $color-purple;
    color: white;
}
