/**
 * -----------------------------------------------------------------------------
 *   $TEXT
 * -----------------------------------------------------------------------------
 */

.text-small { @include rem(font-size, $font-size-small); }
.text-medium { @include rem(font-size, $font-size-medium); }
.text-large { @include rem(font-size, $font-size-large); }

.text-light { font-weight: 300; }
.text-normal { font-weight: 400; }
.text-bold { font-weight: 700; }
.text-ultra-bold { font-weight: 900; }

.text-block {
    @include rem(margin-bottom, $base-spacing);
    @include rem(max-width, $text-block-width);

    line-height: $text-block-line-height;
}

.text-centered { text-align: center; }


