/**
 * -----------------------------------------------------------------------------
 *   $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * Layout settings.
 */

$base-spacing: 1.6rem;

/**
 * Image settings.
 */

$image-url: "../images/";

/**
 * Colour palettes
 */

$color-black: #151515;
$color-blue: #085bc2;
$color-green: #0ac40c;
$color-green-soft: #08c268;
$color-green-dark: #00a657;
$color-nav: #282828;
$color-purple: #6b00e4;

$color-barclays: #35b6e9;
$color-bmj: #1a7bc0;

/**
 * Font settings.
 */

$font-family-default: 'Lato', Arial, sans-serif;
$font-size-base: 2rem;

$font-size-small: 1.3rem;
$font-size-medium: 2.8rem;
$font-size-large: 4.8rem;
$font-size-gigantic: 6rem;

$font-color-default: #524e48;

/**
 * Navigation settings.
 */

$nav-font-color: white;

/**
 * Logo dimensions.
 */

$logo-moov2-height: 100px;
$logo-moov2-width: 233px;

$logo-barclays-height: 151px;
$logo-barclays-width: 143px;

$logo-bmj-height: 104px;
$logo-bmj-width: 177px;

$logo-hasbro-height: 129px;
$logo-hasbro-width: 238px;

$logo-hacksoton-height: 236px;
$logo-hacksoton-width: 693px;

/**
 * Icon settings.
 */

$icon-height: 42px;
$icon-width: 42px;
$icon-background-alt: #444;
$icon-border-radius: 4px;

/**
 * Button settings.
 */

$button-border-radius: 5px;
