/**
 * -----------------------------------------------------------------------------
 *   $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * Layout settings.
 */

$base-spacing: 1.6rem;

/**
 * Image settings.
 */

$image-url: "../images/";

/**
 * Colour palettes
 */

$color-black: #151515;
$color-blue: #085bc2;
$color-green: #0ac40c;
$color-nav: #282828;
$color-purple: #6b00e4;

$color-barclays: #35b6e9;
$color-bmj: #1a7bc0;

/**
 * Font settings.
 */

$font-family-default: 'Lato', Arial, sans-serif;
$font-size-base: 2rem;

$font-size-small: 1.3rem;
$font-size-medium: 2.8rem;
$font-size-large: 4.8rem;
$font-size-gigantic: 6rem;

$font-color-default: #524e48;

/**
 * Navigation settings.
 */

$nav-font-color: white;

/**
 * Logo dimensions.
 */

$logo-moov2-height: 100px;
$logo-moov2-width: 233px;
