@import "vars";

@import "generic/clearfix";
@import "generic/helpers";

.sg-section {
    @include rem(margin-bottom, $base-spacing * 2);
}

.sg-section-dark {
    @include rem(padding, $base-spacing);
    background-color: $color-nav;
}

.sg-background-alt {
    @include rem(padding, $base-spacing);

    background-color: $color-nav;
    border-radius: 3px;

    display: inline-block;
}

.sg-grid {
    @extend .cf;

    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        @include rem(margin-right, $base-spacing);
        float: left;

        &:last-child {
            margin-right: 0;
        }
    }
}

.sg-table {
    @include rem(margin-bottom, $base-spacing);
    display: table;

    > li {
        @include rem(padding-left, $base-spacing);
        @include rem(padding-right, $base-spacing);
        display: table-cell;
        vertical-align: middle;
    }
}

.sg-section-title {
    @include rem(font-size, $font-size-medium);
    @include rem(margin-bottom, $base-spacing);
    @include rem(padding-bottom, $base-spacing);

    border-bottom: 1px solid $font-color-default;
}

.sg-checker {
    background-image: url(#{$image-url}checker.png);
}
