@import "vars";

@import "generic/clearfix";
@import "generic/helpers";

.sg-section {
    @include rem(margin-bottom, $base-spacing * 2);

    > h1:first-child {
        border-bottom: 1px solid $font-color-default;
        @include rem(padding-bottom, $base-spacing);
    }
}

.sg-section-dark {
    @include rem(padding, $base-spacing);

    background-color: $color-nav;
}

.sg-grid {
    @extend .cf;

    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        @include rem(margin-right, $base-spacing);
        float: left;

        &:last-child {
            margin-right: 0;
        }
    }
}

.sg-table {
    @include rem(margin-bottom, $base-spacing);
    display: table;

    > li {
        @include rem(padding-left, $base-spacing);
        @include rem(padding-right, $base-spacing);
        display: table-cell;
        vertical-align: middle;
    }
}

.sg-swatch {
    text-align: center;
}

.sg-swatch-color,
.sg-swatch-description {
    @include rem(margin-bottom, $base-spacing / 2);
}

.sg-swatch-color {
    height: 80px;
    width: 80px
}

.sg-swatch-color-rounded {
    border-radius: 40px;
}

.sg-swatch-description {
    @include rem(font-size, $font-size-small);
    @include rem(padding, $base-spacing / 5);
}

.sg-swatch-color-purple {
    background-color: $color-purple;
}

.sg-swatch-color-purple {
    background-color: $color-purple;
}

.sg-swatch-color-nav {
    background-color: $color-nav;
}

.sg-swatch-color-barclays {
    background-color: $color-barclays;
}

.sg-swatch-color-bmj {
    background-color: $color-bmj;
}

.sg-swatch-color-green {
    background-color: $color-green;
}

.sg-swatch-color-blue {
    background-color: $color-blue;
}

.sg-swatch-color-black {
    background-color: $color-black;
}
